.heading {
    color: #d4660b;
}


.back {
    font-weight: bold !important;
}

.centered {
    text-align: center !important;
    vertical-align: central !important;
}


.livetitle {
    font-weight: bold !important;
}